<div class="container" id="hightline">
    <div class="row">
        <div class="col-lg-9 col">
            <h3>NGSI desires to be a house for dozens of business sectors</h3>
            <p >Focusing on no single division, NGSI chooses the strategy of bringing all suitable fields together, letting them support each other; hence, any of them will reach to the zenith.</p>
        </div>
        <div class="col-lg-3 ">
            <button type="button" class="btn btn-success btn-lg ">Read More</button>
        </div>
    </div>
</div>
<div id="hr-hightline"></div>