<div class="container">
    <%- include('../partials/Title' , {title1 : 'Our customers'}) %>
    <div class="container d-flex">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <img src="/logo/1.png" style="width: 100%;">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="/logo/1.png" style="width: 100%;">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="/logo/1.png" style="width: 100%;">
            </div>
            <div class="col-lg-3 col-sm-6">
                <img src="/logo/1.png" style="width: 100%;">
            </div>
        </div>
    </div>
    
</div>