<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <%- include('../partials/Title', {title1 : 'Welcome to NGSI'}) %>
            <p>Following our strong desire of doing good things for others, NGSI began our adventure around the world to appear in Vietnam, where we can create our own story of developing the next-gen of technology and innovation that creates amazing experiences for customers.</p>
            <p>So far, it is the biggest dream we cherish. Connect and combine solution of smart world, technology, collaboration, security, hardware and software under hands of passionate young talents.</p>
            <p>After years satisfying thousands of customers all over the world, we now have enough faith and confidence to announce the emergence of NGSI in which, again, thousands of ambitions are raising and waiting to be blossomed.</p>
            <p>Say hello to the future and join with us!</p>
        </div>
        <div class="col-lg-4">
            <%- include('../partials/Title', {title1 : 'Latest shots'}) %>
            <a href="#"><img src="https://via.placeholder.com/300X200" alt=""></a>
        </div>
    </div>
</div>