
html
    head
        title chao
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        script(src="/bootstrap.min.js")
        link(rel="stylesheet", href="/bootstrap.min.css")
        
        //block link
        block script
    body
       block content
       block footer

      



